.base {
  flex-shrink: 0;
  height: 44px;
  padding: 0 12px;
  outline-width: 2px;
  outline-style: solid;
  outline-color: transparent;
  outline-offset: -2px;
  background-color: var(--color-gray-1);
  border-color: var(--color-gray-6);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  transition: border-color 150ms;
}

.base:hover {
  border-color: var(--color-gray-8);
}

.base:focus-visible {
  outline-color: var(--color-primary-9);
}
