@layer utilities {
  .dropdown-content {
    &[data-state="open"] {
      animation: enter 150ms;
    }

    &[data-state="closed"] {
      animation: exit 150ms;
    }
  }

  .dialog-overlay {
    &[data-state="open"] {
      animation: fade-in 150ms;
    }

    &[data-state="closed"] {
      animation: fade-out 150ms;
    }
  }

  .dialog-content {
    &[data-state="open"] {
      animation: enter 150ms;
    }

    &[data-state="closed"] {
      animation: exit 150ms;
    }
  }

  @keyframes enter {
    from {
      opacity: 0;
      transform: scale(0.95) translateY(8px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  @keyframes exit {
    from {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
    to {
      opacity: 0;
      transform: scale(0.95) translateY(8px);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
