/* Disable transitions */
.no-transitions * {
  -moz-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

/* Disable scrolling */
.no-overscroll {
  overflow: hidden;
  overscroll-behavior: none;
}

/* Highlight */
::-moz-selection {
  color: var(--color-gray-2);
  background: var(--color-primary-10);
}
::selection {
  color: var(--color-gray-2);
  background: var(--color-primary-10);
}

/* Input date */
input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
  color: var(--color-gray-2);
  background: var(--color-primary-10);
}

.dark ::-moz-selection {
  color: var(--color-gray-1);
}
.dark ::selection {
  color: var(--color-gray-1);
}
.dark input::-webkit-datetime-edit-day-field:focus,
.dark input::-webkit-datetime-edit-month-field:focus,
.dark input::-webkit-datetime-edit-year-field:focus {
  color: var(--color-gray-2);
  background: var(--color-primary-10);
}

/* Sugar-high syntax highlighting */
:root {
  --sh-class: #2d5e9d;
  --sh-comment: #a19595;
  --sh-entity: #249a97;
  --sh-identifier: var(--color-gray-12);
  --sh-jsxliterals: #6266d1;
  --sh-keyword: #f47067;
  --sh-property: #0550ae;
  --sh-sign: var(--color-gray-11);
  --sh-string: #00a99a;
}
